@dh-theme-color: #034585;//主色系
@dh-ligth-color: #5b656e;//浅色系
@dh-font-color: #2c3e50;//字体颜色
@dh-bg-color: #EFEFF4;//背景颜色

//动作
.trandtion-ease(@time: .2s){
    transition: all ease-in-out @time;
    -webkit-transition: all ease-in-out @time;
    -ms-transition: all ease-in-out @time;
}